[submodule "tests/tools/click"]
	path = tests/tools/click
	url = https://github.com/bhesmans/click.git
	fetchRecurseSubmodules = true
	ignore = untracked
[submodule "noinst/libcrafter"]
	path = noinst/libcrafter
	url = https://github.com/chamalo90/libcrafter.git
