[submodule "src/libcrafter"]
	path = src/libcrafter
	url = https://github.com/gdetal/libcrafter.git
	fetchRecurseSubmodules = true
	ignore = untracked
[submodule "tests/click"]
	path = tests/click
	url = https://github.com/bhesmans/click.git
	fetchRecurseSubmodules = true
	ignore = untracked
