config.h*
stamp-*
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/libtool.m4
m4/lt*.m4
missing
test-driver
*.o
*.Po
*.dirstamp
*.swp
tests/labs/*.sh
tests/lua/*.sh
bin
config.log
config.status
libtool
*Makefile
tests/labs/*out.pcap
tests/labs/*.args
src/tracebox/tracebox
tags
.ycm_extra_conf.py
*.pyc
*.sh.log
*.sh.trs
tests/test-suite.log
doc
*~
